<!doctype html>
<html lang="en"xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Authenticity</title>
	
	</head>
	<body>
	
	<section>
	<div class="ip-banner">
	<div class="color-bg"></div>
	<div class="img-bg"></div>
	<div class="container">
		<div class="ip-banner-blurb">			
			<h2>About Team</h2>
		</div>
	</div>
</div>
<div style="background:#e2e2e2!important" class="bred-contain">
	<div class="container" id="top">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item active"><a href="#">About Us</a></li>
		</ol>
	</div>
</div>
<center><h1><i class="fas fa-book-open"></i> Meet The Team</h1></center>
<div style="background:#e2e2e2!important" class="content ip-content">
	<div class="container-fw">
		<div th:replace="sidebar::sidebar"></div>
	
	<div style="padding-left:20%; margin-left:5%;">
	  
	  
		<div class="ip-main team ">
			
			
<div class="indentation" >	
	 <div class="card" style="width:50rem;" >
	 	<div class="card-body">
			<div class="team-member">
				<div class="team-display">
					<img class="team-img" src="images/muhammad-sajid-qureshi.png" alt="Muhammad Sajid Qureshi">
				</div>
				<div class="team-blurb">
					<h2>Muhammad Sajid Qureshi</h2>
					<div class="blurb-in">
			        	<h3>Patron</h3>
						<p>Ph.D Scholar</p>
						<p>International Islamic University, Islamabad.</p>
						<p>Faculty Member</p>
						<p>Faculty of Software Engineering & IT</p>
						<p>Foundation University, Islamabad.</p>
						<p>Contact No: <a href="tel:+92513737251">+92 513737251</a></p>
						<p>Email Addres(es): <a href="mailto:muhammad.sajid@fui.edu.pk">muhammad.sajid@fui.edu.pk</a></p>
						<p><a href="mailto:sajid.phdcs99@iiu.edu.pk">sajid.phdcs99@iiu.edu.pk</a></p>
						<p>Contribution(s)</p>
						<ul>
							<li>Conception of the project idea</li>
							<li>Verification and formatting of the course material</li>
							<li>Preparation and verification of the Test-Question repository</li>
							<li>Database design</li>
						</ul>
						<p><a class="ex-btn" href="mailto:muhammad.sajid@fui.edu.pk">Send a Message</a></p>
					</div>
				</div>
			</div>
			</div>
			</div>
			
	 		<div style="width:50rem;" class="card" id="size">
	 		<div class="card-body">
			<div class="team-member">
				<div class="team-display">
					<img id="center" class="team-img "  src="images/ab.png" alt="Abdul Basit Uppal">
				</div>
				<div  class="team-blurb">
					<h2>Abdul Basit Uppal</h2>
					<div class="blurb-in">
			        	<h3>Graphic and Web Designer</h3>
						<p>UnderGraduate Student</p>
						<p>Department of Software Engineering.</p>
						<p>Foundation University, Islamabad.</p>
						<p>Contact No: <a href="tel:+923088321849">+923088321849</a></p>
						<p>Email Addres(es): <a href="Abasituppal@gmail.com">Abasituppal@gmail.com</a></p>
						<p>Contribution(s)</p>
						<ul>
							<li>Design and Implementation of the Muallim Web-Application</li>
							<li>Definition and Implementation of the Physical Database design</li>
							<li>Implementing the business logic in PhP using the Remote Procedures</li>
							<li>Integration of the software application with the database</li>
						</ul>
						<p><a class="ex-btn" href="Abasituppal@gmail.com">Send a Message</a></p>
					</div>
				</div>
			</div>
			</div>
			</div>
		
				
			<div style="width:50rem;" class="card "id="size">
	 		<div class="card-body">
			<div class="team-member">
				<div class="team-display">
					<img class="team-img" src="images/hb.png" alt="Hamza Jamil">
				</div>
				<div class="team-blurb">
					<h2>Hamza Jamil Butt</h2>
					<div class="blurb-in">
			        	<h3>Member</h3>
						<p>Graduate Student</p>
						<p>Department of Software Engineering.</p>
						<p>Foundation University, Islamabad.</p>
						<p>Contact No: <a href="tel:+923338401408">+92 3338401408</a></p>
						<p>Email Addres(es): <a href="hamzajamil8041@gmail.com">hamzajamil8041@gmail.com</a></p>
						<p>Contribution(s)</p>
						<ul>
							<li>Preparing the Conceptual and Logical Database design</li>
							<li>Implementation of the SSM based Learning and Testing</li>
							<li>Implementation of the Vocabulary Test</li>
							<li>Participation in the project documentation</li>
						</ul>
						<p><a class="ex-btn" href="mailto:hamzajamil8041@gmail.com">Send a Message</a></p>
					</div>
				</div>
			</div>
			</div>
			</div>
			
			<div style="width:50rem;" class="card " id="size">
	 		<div class="card-body">
			<div class="team-member">
				<div class="team-display">
					<img class="team-img" src="images/munib.jpeg" alt="Munib Dildar">
				</div>
				<div class="team-blurb">
					<h2>Muhammad Munib</h2>
					<div class="blurb-in">
			        	<h3>Member</h3>
						<p>Graduate Student</p>
						<p>Department of Software Engineering.</p>
						<p>Foundation University, Islamabad.</p>
						<p>Contact No: <a href="tel:+923130083442">+92 3130083442</a></p>
						<p>Email Addres(es): <a href="mailto:muneeb.hashmi12890@gmail.com">muneeb.hashmi12890@gmail.com</a></p>
						<p>Contribution(s)</p>
						<ul>
							<li>Extraction and verification of the course material</li>
							<li>Assistance in Graphical User Interface design</li>
							<li>Preparaton and verification of the Subjective Test-Questions Repository</li>
							<li>Participation in the project documentation</li>
						</ul>
						<p><a class="ex-btn" href="mailto:muneeb.hashmi12890@gmail.com">Send a Message</a></p>
					</div>
				</div>
			</div>
			</div>
			</div>

			<div style="width:50rem;" class="card " id="size">
	 		<div class="card-body">
			<div class="team-member">
				<div class="team-display">
					<img  src="images/suqlain-qmar.jpg" alt="Suqlain Qamar">
				</div>
				<div class="team-blurb">
					<h2>&nbsp Suqlain Qamar</h2>
					<div class="blurb-in">
			        	<h3>Member</h3>
						<p>Graduate Student</p>
						<p>Department of Software Engineering.</p>
						<p>Foundation University, Islamabad.</p>
						<p>Contact No: <a href="tel:+923023379953">+92 3023379953</a></p>
						<p>Email Addres(es): <a href="mailto:suqlain.sherazi786@gmail.com">suqlain.sherazi786@gmail.com</a></p>
						<p>Contribution(s)</p>
						<ul>
							<li>Data collection and preparation in Urdu and English languages</li>
							<li>Assistance in preparation and verification of the Vocabulary Test-Question Repository</li>
							<li>Assistance in Graphical User Interface design</li>
							<li>Project documentation</li>
						</ul>
						<p><a class="ex-btn" href="mailto:suqlain.sherazi786@gmail.com">Send a Message</a></p>
					</div>
				</div>
			</div>
			</div>
			</div>
			</div>
		</div>
	</div>
</div>

</div>

	</section>