<!doctype html>
<html lang="en"xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	
	
	
<title>Login page</title>
</head>
<body>
<section>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/muallim-banner-2-v2.jpg" class="d-block w-100" alt="p1">
      <div class="carousel-caption d-none d-md-block">
        <h2>The best of you is one who<br>
						<b>LEARNS THE QUR'AAN</b><br>
						And teaches it to others</h2>
		<span><b>Reference:</b> <i>Sahih al-Bukhari 5027</i> <br><b>In-book reference:</b><i> Book 66, Hadith 49</i></span>
      </div>
    </div>
    <div class="carousel-item">
      <img src="images/quran-2-banner.png" class="d-block w-100" alt="p2">
      <div class="carousel-caption d-none d-md-block">
        	<h2>
							And assuredly We have propounded for mankind in this<br> <b>Qur'an all kinds of similitudes,</b><br> that happily they may be admonished.<br>
						</h2>
						<span><b>Reference:</b> <i>Az-Zumar <br>Ayyat: no  27</i> </span>
      </div>
    </div>
    <div class="carousel-item">
      <img src="images/muallim-banner-3.png" class="d-block w-100" alt="p3">
      <div class="carousel-caption d-none d-md-block">
        <h2>
							And assuredly We have propounded for mankind in this<br> <b>Qur'an all kinds of similitudes,</b><br> that haply they may be admonished.<br>
						</h2>
						<span><b>Reference:</b> <i>Az-Zumar <br>Ayyat no: 27</i> </span>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="indentation" >
	<div class="card mt-3" >
	<div class="card-body">
		<div class="container-fluid">
		
		<div class="about-us" id="services">
		<div class="about-block">
			<div class="about-blurb">
				<div class="blurb-inner">
						<div>
						<h1><strong>Join the Path to Jannah </strong></h1>
						<h4 style="color:#286029">Whoever takes a path upon which to obtain knowledge,<br>Allah makes the path to Paradise easy for him.</h4>
						<button  class="button"> <strong>Login</strong></button> &nbsp
						<button  class="button2"><strong> Signup as a Learner </strong></button>
						</div>
				</div>
			</div>
	
	
			<div class="about-blurb">
				<div class="blurb-inner">
				<img class="image" alt="quran-il-hakeem" src="/images/index_quranpic.jpg">
				</div>
			</div>
		</div>		
		</div> 
	
	<hr style="color:green"/>
	
					<div class="ip-main">
							<h1><i class="fas fa-book-open"></i> Learning</h1>
							<p>Muallim's Learning Environment is to help learner’s of Quran-il-Hakeem in learning:</p>
							<p>Muallim is working to serve the souls who are eager to learn Quran-il Hakeem. We are offering various courses. Urdu translation, english translation audios.You can get yourself or your child enrolled in any of these courses for basic or advanced level of learning.</p>
							<p>The Qur'an ("Qor-Ann") is a Message from Allah (swt) to humanity. It was transmitted to us in a chain starting from the Almighty Himself (swt) to the angel Gabriel to the Prophet Muhammad (saw). This message was given to the Prophet (saw) in pieces over a period spanning approximately 23 years (610 CE to 632 CE). </p>		
					</div>	
					
			</div>
		</div>
	</div>
</div>
	
<div class="indentation" >	
	<div class="card mt-3 mb-3">
		<div class="card-body">
			<div class="container-fluid">
				<div class="ip-main">
						<h1><i class="fas fa-book-open"></i> Test your Quranic Knowlegde</h1>
						<p>Muallim's Testing Environment is help the learner’s, in evaluation of their understanding through the well-defined set of questions of his own choice of topics. Being an Web-based system, the software enables the user to learn Quran-il-Hakeem on their own pace, beyond the geographical boundaries.</p>
						<h3>How to start testing your Quranic knowlegde and understanding</h3>
						<p>Select your Level of testing and confirm your test schedule then we will send you confirmation email and further details</p>
						<hr class="bg">
						<div class="test-select">
							<table cellpadding="0" cellspacing="0">
								<tr>
									<th>Intermediate Level</th>
									<th>Advanced Level</th>
								</tr>
								<tr>
									<td><i class="fas fa-check"></i> Basic Questions</td>
									<td><i class="fas fa-check"></i> Subject Oriented Questions</td>
								</tr>
								<tr>
									<td><i class="fas fa-check"></i> Short Questions</td>
									<td><i class="fas fa-check"></i> Summary Questions</td>
								</tr>
								<tr>
									<td><i class="fas fa-check"></i> Introductory Questions</td>
									<td><i class="fas fa-check"></i> Contextual Questions</td>
								</tr>
								<tr>
									
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>

</body>
</html>