<!doctype html>
<html lang="en"xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>About page</title>
	
	</head>
	<body>
	
	<section>
	
	
	
	<div class="ip-banner">
	<div class="color-bg"></div>
	<div class="img-bg"></div>
	<div class="container">
		<div class="ip-banner-blurb">			
			<h2>About Muallim</h2>
		</div>
	</div>
</div>
<div style="background:#e2e2e2!important" class="bred-contain">
	<div class="container" id="top">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item active"><a href="#">About</a></li>
		</ol>
	</div>
</div>

<div style="background:#e2e2e2!important" class="content ip-content">
	<div class="container-fw">
	<div th:replace="sidebar::sidebar"></div>
	
	
	<div style="padding-left:20%; margin-left:5%;">
	<div class="indentation" >	
	 <div class="card mt-3 ">
	 	<div class="card-body">
	<div class="ip-main">
			<h4><i class="fas fa-book-open"></i> About Muallim</h4>
			<h3>Learning Service</h3>
			<p>Muallim's Learning Environment is to help learner’s of Quran-il-Hakeem in learning:</p>
			<p>Muallim is working to serve the souls who are eager to learn Quran-il Hakeem. We are offering various courses. Urdu translation, english translation audios.You can get yourself or your child enrolled in any of these courses for basic or advanced level of learning.</p>
			<ul>
				<li>Quranic Text in Arabic</li>
				<li>Translation of Arabic text in two languages (Urdu and English</li>
				<li>Recitation of the Arabic text in voice of famous Qurah (Reciters)</li>
				<li>Summary of each chapter (Surah) in English and Urdu Languages</li>
				<li>Meaning of difficult-words in the Quanic Text</li>
			</ul>
			<hr class="bg">
			<h3> Test your Quranic Knowlegde</h3>
			<p>Muallim's Testing Environment is help the learner’s, in evaluation of their understanding through the well-defined set of questions of his own choice of topics. Being an Web-based system, the software enables the user to learn Quran-il-Hakeem on their own pace, beyond the geographical boundaries.</p>
			<h3>How to start testing your Quranic knowlegde and understanding</h3>
			<p>Select your Level of testing and confirm your test schedual then we will send you confirmation email and furcther details</p>
			<h3>Our Mission</h3>
			<ul>
				<li>Our mission is giving the ummah the best tool to learn reciting the Quran-il-Hakeem.</li>
				<li>Helping the users to learn Quran-il-Hakeem.</li>
				<li>Setting Targets for Quality & Performance.</li>
				<li>The ethics of dealing with Quran-il-Hakeem.</li>
				<li>For better understanding of what Islam is and how it tends to guide human.</li>
				<li>To enable users to read the Quran and Quranic commentary (tafsir) so that they understand how its teaching educates conscience and behaviour.</li>
			</ul>
			<hr class="bg">
			<h3> Muallim’s Learning Features </h3>
			<ul>
				<li>Provision of the Arabic text of Quran-il-Hakeem</li>
				<li>Tilwate-e-Ayat</li>
				<li>Translation of the Arabic Text in Urdu and English languages</li>
				<li>Summary of Each Surah</li>
				<li>Meaning of difficult word in Urdu and English</li>
			</ul>
			<h3> Muallim’s Testing Service Features </h3>
			<ul>
				<li>Versatile and Comprehensive questions<br>
					Introductory<br>
					Subjective<br>
					Summary</li>
				<li>User Registration & Authentication</li>
				<li>Test backup and recovery</li>
				<li>Fine-grain analysis of the result</li>
				<li>Recommendation for improvement to the leaners</li>
			</ul>
		</div>
		</div>
		</div>
		</div>
	</div>
</div>

	
	
	
	
	
	</div>
	
	</section>
	
	
	
	
	
	</body>
	
	