<!doctype html>
<html lang="en"xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Authenticity</title>
	
	</head>
	<body>
	
	<section>
	
	<div class="ip-banner">
	<div class="color-bg"></div>
	<div class="img-bg"></div>
	<div class="container">
		<div class="ip-banner-blurb">			
			<h2>About Our Authentic Resources</h2>
		</div>
	</div>
</div>
<div style="background:#e2e2e2!important" class="bred-contain">
	<div class="container" id="top">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item active"><a href="#">Authenticity</a></li>
		</ol>
	</div>
</div>

<div style="background:#e2e2e2!important" class="content ip-content authenticity">
	<div class="container-fw">
	
	
	<div th:replace="sidebar::sidebar"></div>
	
	
	<div style="padding-left:20%; margin-left:5%;">
	
	<div class="ip-main">
	
	<div class="indentation" >	
	 <div class="card" style="width:50rem;" >
	 	<div class="card-body">
			<h4><i class="fas fa-book-open"></i> Authenticity of the Learning Resources</h4>
			<h3>Quranic Text</h3>
			<p>source(s): <b>Mushaf-Al-Madinah</b> <br>
			The Medina Mushaf (officially: Mushaf al-Madinah an-Nabawiyyah, is an authentic copy of the holy Quran printed by King Fahad Complex for Printing of the Holy Quran .</p>
			<ul class="au-img">
				<li><img src="images/1Arabic-text-(Mushaf_Al_Madinah).jpg" alt=""></li>
				<li><img src="images/2Arabic-text-(Mushaf_Al_Madinah).jpg" alt=""></li>
				<li><img src="images/3Arabic-text-(Mushaf_Al_Madinah).jpg" alt=""></li>
			</ul>
			&nbsp;
			<h3>Urdu Translation</h3>
			<p>source(s): - <b>Maulana Fateh Muhammad Jalandhari Maualan fateh Muhammad Jallandhari</b> produced an Urdu translation of the Qur'an in Urdu.</p>
			<ul class="au-img">
				<li><img src="images/1urdu-trannslation.png" alt=""></li>
				<li><img src="images/2urdu-trannslation.png" alt=""></li>
			</ul>
			&nbsp;
			<h3>English Translation</h3>
			<p>source(s): The Noble Quran in English printed by <b>King Fahad Complex</b> and English Translation by – <b>Dr. Muhammad Taqi-ud-Din Al-Hilali</b> ( Formerly Professor of Islamic Faith and teaching Islamic university, Al- Madinah Al-Munawwarah )</p>
			<ul class="au-img">
				<li><img src="images/1-Quran-il-Hakeem-(English-Translation).jpg" alt=""></li>
				<li><img src="images/2-Quran-il-Hakeem-(English-Translation).jpg" alt=""></li>
			</ul>
			&nbsp;
			<h3>Vocabulary</h3>
			<p>Quranic vocabulary is extracted from Authentic book-<b>(Faiq-Ul-Bayyan)</b>, Written by <b>Maulana Shah Rafi-Uddin Dehlvi</b> and <b>Maulana Fateh Muhammad Khan Jalandhari.</b></p>
			<ul class="au-img">
				<li><img src="images/1-vocabular-urdu-translation.jpg" alt=""></li>
				<li><img src="images/2-vocabular-urdu-translation.jpg" alt=""></li>
				<li><img src="images/3-vocabular-urdu-translation.jpg" alt=""></li>
			</ul>
			&nbsp;
			<h3>Summary</h3>
			<p>source(s): <b>Tafheem-ul-Quran</b> <br>
			Quranic summary is extracted from Authentic books-<b>(Tafheem-ul-Quran)</b>, Written by <b>Sayyid Abul A'la Mawdudi</b> Translated and Edited by <b>Zafar Ishaq Ansari</b></p>
			<ul class="au-img">
				<li><img src="images/Tafheem-ul-Quran-(Urdu).png" alt=""></li>
				<li><img src="images/Tafheem-ul-Quran-(English).jpg" alt=""></li>
			</ul>
				</div>
			</div>			
		</div>
		</div>
	</div>
</div>
	</div>
	</section>
	