<!doctype html>
<html lang="en"xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Authenticity</title>
	
	</head>
	<body>
	
	<section>
	<div class="ip-banner">
	<div class="color-bg"></div>
	<div class="img-bg"></div>
	<div class="container">
		<div class="ip-banner-blurb">			
			<h2>Let's Learn Quran-il-Hakeem</h2>
			<div class="courses-btn">
				<a class="ex-btn btn-border" href="#basic"><i class="fas fa-link"></i> Basic Learning</a><br>
				<!-- <a class="ex-btn btn-border" href="#advance"><i class="fas fa-link"></i> Advanced Learning</a> -->
			</div>
		</div>
	</div>
</div>
<div style="background:#e2e2e2!important" class="bred-contain">
	<div class="container" id="top">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item active"><a href="#">Courses</a></li>
		</ol>
	</div>
</div>

<div style="background:#e2e2e2!important" class="content ip-content">
	<div class="container-fw">
	
<div th:replace="sidebar::sidebar"></div>
	
	
	<div style="padding-left:20%; margin-left:5%;">
	<div class="indentation" >	
	 <div class="card mt-3 ">
	 	<div class="card-body">
	 
		<div class="ip-main">
			<h4><i class="fas fa-book-open"></i> Learning</h4>
			<p>Muallim's Learning Environment is to help learner’s of Quran-il-Hakeem in learning:</p>
			<p>Muallim is working to serve the souls who are eager to learn Quran-il Hakeem. We are offering various courses. Urdu translation, english translation audios.You can get yourself or your child enrolled in any of these courses for basic or advanced level of learning.</p>
			<p>The Qur'an ("Qor-Ann") is a Message from Allah (swt) to humanity. It was transmitted to us in a chain starting from the Almighty Himself (swt) to the angel Gabriel to the Prophet Muhammad (saw). This message was given to the Prophet (saw) in pieces over a period spanning approximately 23 years (610 CE to 632 CE). </p>
	
	
	
	
	

			<hr class="bg">

			<div class="courses-list" id="basic">
				<h3>Quranic Surahs (Chapters)</h3>
			
			</div>
			</div>
			</div>
			</div>	
			</div>
			
			</div>
			</div>
			</div>
			</section>
</body>
</html>
			